<div class="container">
    <div class="jumbotron">
        <h1>Vegan Burgers!</h1>
        <p>Your source for cruelty free, delicious burgers!</p>
        <br>
    </div>


    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h2>Vegan Burgers Available: </h2>
            {{#each burgers}} {{#unless devoured}}
            <div class="row">
                <div class="col-md-8 burgerListing">
                    {{this.id}}. {{this.burger_name}}
                </div>
                <div class="col-md-4">
                    <button data-id="{{this.id}}" class="btn btn-danger devour">Devour it!</button>
                </div>
            </div>
            {{/unless}} {{/each}}
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <form class="newBurger">
                    <div class="form-group">
                        <label for="textEntry">Add a burger option</label>
                        <textarea class="form-control" id="newBurgerData"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>